
body {
	width: 1000px;
}

header img {
	width: 100%;
}

nav {
	margin: auto;
}

header .horizontalNavigation li {
	width: 100%;
	text-align: center;
}

header .horizontalNavigation li:first-of-type {
	float: left;
	width: 20%;
}

header .horizontalNavigation li:nth-of-type(2) {
	float: left;
	width: 20%;
}

header .horizontalNavigation li:nth-of-type(3) {
	float: left;
	width: 20%;
}

header .horizontalNavigation li:nth-of-type(4) {
	float: left;
	width: 20%;
}

section {
	clear: left;
}

article {
	width: 75%;
}

.websites {
	width: 400px;
}



footer {
	clear: both;
}

.sidenav {
	float: left;
  width: 130px;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.website {
	overflow: auto;
}



